/* .CourseCard {
  display: flex;
} */


.card {
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.card:hover {
  transform: scale(1.1);
}



.courseCard-btn{
    background: linear-gradient(92.82deg, #A570FF 0%, #FF6EB2 50%, #FFAD66 100%);
    padding:0.5rem 1rem;
    justify-content: center;
    border: 1px solid #FF6EB2;
    border-radius: 8px;
}

/* @media (max-width: 640px) {
  .CourseCard {
    display: block;
    margin: auto;
  }
} */

.course-slider-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
